.toaster{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #CAD0E3;
    border-radius: 10px;
    width: 200px;
    height: 40px;
    color: white;
    font-weight: 700;
    top: 25px;
    right: 25px;
    cursor: pointer;
}